body{
    background-size: auto;
    background: url('../img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);
}


img{
    max-height: 150px;
    padding-left: 40px;
}

#welcome-text{
    margin-top: auto;
    margin-bottom: auto;
    font-family: Futura, sans-serif;
    color: white;

}

#response{
    /*text-align: justify;*/
    /*text-justify: inter-word;*/
    font-family: Futura, sans-serif;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;


}

#map {
    /*min-height: 300px;*/
    /*max-height: 600px;*/
    min-height: 200px;
    max-width: 600px;
    align-items: center;
}

#user-text-form{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}




#site-footer{
    /*margin-top: 70px;*/
}

a{
    text-decoration: none;
    color: white;
}

/*aligner vertical text form et footer*/