body, html{
    height:100%;
}


body{
    /*display: flex;*/
    /*flex-direction: column;*/
    background-size: auto;
    background: url('../img/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);
}

#papy-img{
    /*max-height: 150px;*/
    /*padding-left: 40px;*/
}

#welcome-text{
    margin-top: auto;
    margin-bottom: auto;
    font-family: Futura, sans-serif;
    color: white;
}

main{
    flex: 1 0 auto;
}

#gp-response{
    /*text-align: justify;*/
    /*text-justify: inter-word;*/
    font-family: Futura, sans-serif;
    max-width: 800px;
}

#map {
    min-height: 200px;
    max-height: 600px;
    /*height: 200px;*/
    max-width: 800px;
}

#user-text-form{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    opacity: 0.85;
}

#site-footer{
    flex-shrink: 0;
    margin-top: 20px;
    padding-bottom: 5px;
    text-align: right;
}

a{
    text-decoration: none;
    color: white;
}